.container{
  max-width: 400px;
  margin: 10px auto 0 auto;
  box-shadow: 0 0 25px 17px;
}
#display{
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}
.buttons{
  display: grid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons >div{
  border-top: 1px solid;
  border-right: 1px solid;

}
.button{
  border: 0.5px solid;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
#equal{
  background-color: blue;
  color: while;
}
.button:hover{
  background-color: black;
  color: red;
  transition: 0.5sease-in-out;
}
